{% extends "base.html" %}

{% block content %}
    <div class="breadcrumb">
        <h3>Non-Verbal Reasoning • Numeric Codes</h3>
    </div>
    <div class="question">
        <p>Three of the four words below have been coded. Each alphabet has been replaced by a number (0-9).</p>
        <span class="raise">
            {% for word in words %}
            {{ word }}&nbsp;&nbsp;
            {% endfor %}
        </span>
        <p>The codes are not written in the same order as the words.</p>
        <span class="raise">
            {% for code in codes %}
                {{ code }}&nbsp;&nbsp;
            {% endfor %}
        </span>
        <p>What is the code for &nbsp; <span class="raise">{{ query }}</span></p>
        <form action="" id="result_form">
            <input id="result" type="text" name="result" class="result">
            <button class="submit" type="submit">Submit</button>
        </form>
        <span class="feedback" id="feedback"></span>
        <script>
            $( "#result_form" ).submit(function( event ) {
                let answer = $( "#result" ).val();
                if (answer == {{ result }} ) {
                    $( "#feedback" ).text( "Correct Answer" ).show();
                } else if (isNaN(answer)) {
                    $("#feedback").text("Please enter valid numeric answer").show();
                } else {
                    $("#feedback").text("Wrong Answer").show();
                }
                event.preventDefault();
            });
        </script>
        <form action="" id="next_problem">
            <button class="next" type="submit">Next</button>
        </form>
    </div>
{% endblock %}
