{% extends "question.html" %}

{% block question %}
    <p>Three of the four words below have been coded. Each alphabet has been replaced by a number (0-9).</p>
    <span class="raise">
        {% for word in words %}
        {{ word }}&nbsp;&nbsp;
        {% endfor %}
    </span>
    <p>The codes are not written in the same order as the words.</p>
    <span class="raise">
        {% for code in codes %}
            {{ code }}&nbsp;&nbsp;
        {% endfor %}
    </span>
    <p>What is the code for &nbsp; <span class="raise">{{ query }}</span></p>
{% endblock %}
